<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Error!</title>
  </head>
  <body>
    <h1>Error!</h1>
    <h3>Message: <%= msg %></h3>
    <p>Sorry about that! It seems that something went wrong. If it pertains to your input, please try again. Otherwise, contact mikemodder007#6767 on Discord!</p>
  </body>
</html>
