<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>MikeModder's Link Shortener</h1>
    <p>Head <a href="/new">here</a> to make a new short link!</p>
  </body>
</html>
