<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Link</title>
  </head>
  <body>
    <form class="" action="/api/newurl" method="post">
      <input type="text" name="longurl" value="Long URL">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
